security:
    encoders:
        App\Entity\User\User: bcrypt
    providers:
        db_user:
            entity:
                class: App\Entity\User\User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: ^/
            http_basic: ~
            provider: db_user
            anonymous: true
            guard:
                authenticators:
                    - App\Security\User\LoginFormAuthenticator

    access_control:
        - { path: ^/user/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
