{% extends "@App/structure/general.html.twig" %}

{% block head__title %}Create Project{% endblock %}

{% block body__content %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit Project</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
